/* Styling af Vejr */
.logo-container .logo {
  width: 300px;
  display: -ms-grid;
  display: grid;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo-container .logo .logo {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-container .time {
  font-size: 45px;
}

.logo-container .date {
  font-size: 45px;
}

.logo-container .temp {
  font-size: 100px;
  letter-spacing: 5px;
}

.logo-container .summary {
  font-size: 24px;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.logo-container .data-container {
  display: -ms-grid;
  display: grid;
  grid-area: data;
  margin: 0 auto;
  width: 100%;
  padding: 1.1vw;
  background-color: #3F4259;
  /* Styling af Bus tider */
}

.logo-container .data-container .bus-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px auto;
  width: 400px;
  color: white;
  font-weight: 600;
}

.logo-container .data-container .bus-container .tid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 15% 30%;
      grid-template-columns: 15% 30%;
  -ms-grid-rows: 50px;
      grid-template-rows: 50px;
  grid-column-gap: -20%;
  width: 380px;
  padding-left: 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 300;
}

.logo-container .data-container .bus-container .tid img {
  width: 40px;
  height: 40px;
}

.logo-container .data-container .bus-container .tid1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #4D5A84;
}

.logo-container .data-container .bus-container .tid2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414B6C;
}

.logo-container .data-container .bus-container .tid3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4D5A84;
}

.logo-container .data-container .bus-container .tid4 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #414B6C;
}

.logo-container .data-container .bus-container .tid5 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25%;
      grid-template-columns: 25% 25% 25%;
  -ms-grid-rows: 40px;
      grid-template-rows: 40px;
  grid-column-gap: 10%;
  width: 400px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #4D5A84;
}

.logo-container .article .medie-container {
  height: 300px;
  width: 100%;
  background-image: url("/Public/img/mg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
}

.logo-container .article .nyheder {
  background-color: #414B6C;
  padding: 10px;
  margin: 10px 0;
}

.logo-container .article .nyheder .titel {
  text-transform: uppercase;
}

.logo-container .article .nyheder .tekst {
  margin-top: 20px;
}

.logo-container #post .bus-container {
  width: 100%;
  color: white;
  font-weight: 600;
}

.logo-container #post .bus-container .container-header {
  width: 100%;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #3F4259;
}

.logo-container #post .bus-container .container-header img {
  margin: 0 1rem;
  width: 40px;
  height: 40px;
}

.logo-container #post .bus-container .container_body .container-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  height: 40px;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  background-color: #4D5A84;
}

.logo-container #post .bus-container .container_body .container-content h3:first-of-type {
  margin: 0 0 0 1rem;
}

.logo-container #post .bus-container .container_body .container-content h3:last-of-type {
  text-align: right;
  margin: 0 1rem 0 0;
}

.logo-container #post .bus-container .container_body .container-content:first-of-type {
  height: 50px;
}

.logo-container #post .bus-container .container_body .container-content:first-of-type h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-container #post .bus-container .container_body .container-content:nth-child(odd) {
  background: #414B6C;
}
