* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #414B6C;
  padding: 10px;
  text-transform: uppercase;
}

.header h3 {
  margin-left: 10px;
}

.header img {
  height: 30px;
}

.main-container {
  height: 100vh;
  background-color: #8891A1;
  color: #FFFFFF;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 4fr;
      grid-template-columns: 2fr 5fr 4fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  gap: 5px;
      grid-template-areas: "data aktiviteter info";
}
