.middleSection {
  padding: 12px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.middleSection .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% auto;
      grid-template-columns: 10% auto;
  width: 34.3vw;
  background-color: #3F4259;
  height: 6.5vh;
  margin-bottom: 13px;
}

.middleSection .info .fas {
  font-size: 50px;
  color: #fff;
  margin: auto;
  margin-left: 20px;
}

.middleSection .info .info-header {
  display: inline-block;
  font-size: 28px;
  color: #fff;
  margin-top: 2.5%;
  margin-left: 1%;
  margin-left: 15px;
}

.middleSection #player {
  width: 34.5vw;
  height: 311px;
  background-color: #3F4259;
  margin-bottom: 13px;
}

.middleSection #player img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}

.middleSection .newsCard {
  height: auto;
  margin-bottom: 13px;
  padding-top: 10px;
  width: 34.5vw;
  background-color: #3F4259;
}

.middleSection .newsCard .news-date {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 1rem;
}

.middleSection .newsCard .news-header {
  font-size: 1.8rem;
  color: #fff;
  margin: 1rem;
}

.middleSection .newsCard .news-content {
  font-size: 1rem;
  color: #fff;
  margin: 1rem;
  margin-top: .5rem;
}

.middleSection .newsCard .qr-text {
  margin-left: 70%;
  padding-bottom: 1rem;
  font-size: .9rem;
  color: #fff;
}

.middleSection .newsCard .news-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 105px;
      grid-template-columns: auto 105px;
}

.middleSection .newsCard .news-head .qr-kode {
  position: relative;
  height: 80px;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 5% auto;
  grid-template-columns: 5% auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  overflow: hidden;
  right: 0;
  bottom: 0;
  height: 71px;
  background-color: #414B6C;
  width: 82.2vw;
}

.ticker-wrap img {
  height: 71px;
  z-index: 2;
}

.ticker-wrap .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 80s;
  animation-duration: 80s;
}

.ticker-wrap .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 2rem;
  color: white;
}

.info-container {
  grid-area: info;
}
