.weather-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  font-weight: 600;
  background-color: #3F4259;
}

.weather-container .time-date-container {
  font-size: 1.2em;
}

.weather-container .temp-summary-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}

.weather-container .temp-summary-container .col-left {
  text-align: center;
}

.weather-container .temp-summary-container .col-left .temp {
  font-size: 6em;
}

.weather-container .temp-summary-container .col-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.weather-container .temp-summary-container .col-right .icon {
  min-width: 200px;
  max-width: 200px;
  margin-top: -15%;
}

.weather-container .time,
.weather-container .date {
  margin: 0;
  font-size: 1.8em;
}

.blink {
  animation: blink-animation 2s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
