* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

// Global header/label
.header {
    display: flex;
    background-color: #414B6C;
    padding: 10px;
    text-transform: uppercase;
    h3 {
        margin-left: 10px;
    }
    img {
        height: 30px;
    }
}   

.main-container {
    height: 100vh;
    background-color: #8891A1;
    color: #FFFFFF ;
    display: grid;
    grid-template-columns: 2fr 5fr 4fr;
    grid-template-rows: auto;
    gap: 5px;
    grid-template-areas: 
    "data aktiviteter info";
}

