// STYLE AF INFO 
$bg-color: #8891A1;
$card-color: #3F4259;
$text-color: #fff; 
$duration: 80s;

.middleSection{
    padding: 12px 0 0 0;
    box-sizing: border-box;

    .info{
        display: grid;
        grid-template-columns: 10% auto;
        width: 34.3vw;
        background-color: $card-color;
        height: 6.5vh;
        margin-bottom: 13px;

        .fas {
            font-size: 50px;
            color: $text-color;
            margin: auto;
            margin-left: 20px;
        }

        .info-header {
            display: inline-block;
            font-size: 28px;
            color: $text-color;
            margin-top:2.5%;
            margin-left: 1%;
            margin-left: 15px;
        }
    }
    #player{
        width: 34.5vw;
        height: 311px;
        background-color: $card-color;
        margin-bottom: 13px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 100%;
        }
    }
    .newsCard{
        height: auto;
        margin-bottom: 13px;
        padding-top: 10px;
        width: 34.5vw;
        background-color: $card-color;

        .news-date {
            font-size: 1.2rem;
            color: $text-color;
            margin-left: 1rem;
        }

        .news-header {
            font-size: 1.8rem;
            color: $text-color;
            margin: 1rem;
        }

        .news-content {
            font-size: 1rem;
            color: $text-color;
            margin: 1rem;
            margin-top: .5rem;
        }

        .qr-text {
            margin-left: 70%;
            padding-bottom: 1rem;
            font-size: .9rem;
            color: $text-color;
        }
        .news-head {
            display: grid;
            grid-template-columns: auto 105px;
            .qr-kode {
                position: relative;
                height: 80px;
            }  
        }
    }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}


.ticker-wrap {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% auto;
    grid-template-columns: 5% auto;
    align-items: center;
    position: absolute;
    overflow: hidden;
    right: 0;
    bottom: 0;
    height: 71px;
    background-color: #414B6C;
    width: 82.2vw;
    img{
        height: 71px;
        z-index: 2;
    }
  .ticker {

    display: inline-block;
    height: 4rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: $duration;
            animation-duration: $duration;

    &__item {
      display: inline-block;
      padding: 0 2rem;
      font-size: 2rem;
      color: white;   

    }

  }

}
.info-container {
    grid-area: info;
}