.weather-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    background-color: #3F4259;
    .time-date-container {
        font-size: 1.2em;
    }
    .temp-summary-container {
        display: flex;
        
        justify-content: center;
        margin-top: 40px;
        .col-left {
            text-align: center;
            .temp {
                font-size: 6em;
            }
        }
        .col-right {
            display: flex;
            .icon {
                min-width: 200px;
                max-width: 200px;
                margin-top: -15%;
            }
        }
    }
    .time,
    .date {
        margin: 0;
        
        font-size: 1.8em;
    }
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
  }
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }