.weather-container {
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 600;
    background-color: #3F4259;
    .time-date-container {
        display: flex;
    font-size: 20px;
        justify-content: space-between;
    }
    .temp-summary-container {
        display: flex;
        
        justify-content: center;
        margin-top: 40px;
        .col-left {
            text-align: center;
            .temp {
                font-size: 6em;
            }
        }
        .col-right {
            display: flex;
            .icon {
                min-width: 200px;
                max-width: 200px;
                margin-top: -15%;
            }
        }
    }
    .time,
    .date {
        font-size: 2em;
    }
}

